#header {
    position: absolute;
    z-index: 14;
    width: 100%;

    .navbar-nav {
        width: 510px;
    }

    .fixed-top.scrolled {
        background-color: rgba(111, 66, 193, 0.7) !important;
    }

    .nav-link__circle {
        border-radius: 50%;
        width: 9px;
        height: 9px;
        border: 1px solid #ffffff;
        display: inline-block;
        margin-right: 7px;

        &:hover {
            background: #ffffff;
        }
    }

    .nav-link__circle:hover ~ .nav-link {
        opacity: 1;
    }

    .active-circle {
        background: #ffffff;
    }


    .nav-link {
        color: #ffffff;
        font-family: "Gotham";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    .nav-social-container{
        width: 200px;
    }

    .social-circle {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 1px solid rgba(255,255,255,0.4);

        a {
            color: #ffffff;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}