section#contacts
  .position-relative.d-flex.flex-column.justify-content-center.align-items-center
    #mapid
    .contacts__frame.container(style='left: 50%; top: 80%; transform: translate(-50%, -50%);')
      .row.d-flex.flex-column.align-items-center
        .contacts__hr
        .contacts__title get in touch
        .contacts__form.row.d-flex
          .contacts__form-left.col-xl-6.col-sm-12.d-flex.flex-column.justify-content-between
            .contacts__form-left--address
              span.contacts__icon.address
                i.fas.fa-map-marker-alt
              |  91 Nolan Extensions Suite 670
            .contacts__form-left--phone
              span.contacts__icon.phone
                i.fas.fa-phone
              |  +001 356-868-2454
            .contacts__form-left--email
              span.contacts__icon.email
                i.fas.fa-inbox
              |  gahuy93@gmail.com
            .contacts__form-left--time
              span.contacts__icon.time
                i.far.fa-clock
              |  From 07:05AM to 19:30PM
          .contacts__form-right.col-xl-6.col-sm-12
            form.d-flex.flex-column.justify-content-between(action='#', method='get')
              input.contacts-input(type='text', required='', placeholder='Your name', minlength='3')
              input.contacts-input.pt-4(type='text', required='', placeholder='Email', pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$')
              button.button-universal.align-self-end.mt-3(name='submit', target='_blank') Submit