.button {
    background-color: transparent;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.button_arrow {
    border-radius: 50%;
    border: 1px solid #ffffff;
}
