<button class="button button_arrow"><i class="fas fa-angle-left"></i></button>
<button class="button button_arrow"><i class="fas fa-angle-down"></i></button>
<button class="button button_arrow"><i class="fas fa-angle-right"></i></button>
