section#works
  .works__container.container-fluid.d-flex.flex-column.justify-content-around
    .container
      .row.d-flex.flex-column.align-items-center
        .works__hr
        .works__title what we do
    .container.pb-3
      .row.works__trade
        .works__trade-left.col-xl-6.col-lg-12.pb-3
          img(src='images/trade.png', alt='trade', style='box-shadow: -205px -70px #55b7ff')
        .works__trade-right.col-xl-5.col-lg-12.offset-xl-1.offset-lg-none.d-flex.flex-column.justify-content-around.pb-2
          .works__title
            .works__title-small one world
            .works__title-big Trade Center
          .works__desc
            | Increasing prosperity in our lives can be accomplished by
            | having
            | the
            | right
            | frame of mind. The truth is, our thoughts are very powerful.
          .works__button
            button.button-universal more details
          .works__place
            i.fas.fa-map-marker-alt
            |  New York City, United
            |                             States
            |                             -
            |                             1776
            |                             feet
    .container
      .row.works__commerce
        .works__commerce-right.col-xl-6.col-lg-12.d-flex.flex-column.justify-content-around.pb-5
          .works__title
            .works__title-small International
            .works__title-big Commerce Centre
          .works__desc
            | Successful businesses have many things in common, today we’ll
            | look
            | at the
            | big ‘R’ of recognition and how a digital advertising network may help.
          .works__button
            button.button-universal more details
          .works__place
            i.fas.fa-map-marker-alt
            |  Hong Kong - 1588 Feet
        .works__commerce-left.col-xl-6.col-lg-12.pb-5
          img(src='images/commerce.png', alt='commerce', style='box-shadow: 120px -70px #7e5aff')
