section#gallery
  .gallery__container.container
    .row.d-flex.flex-column.align-items-center
      .gallery__hr
      .gallery__title gallery
    .row.gallery-img.custom-gutter.no-gutters
      .custom-pd.col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12.position-relative
        .img-360.position-absolute
          img(src='images/360.png', alt='360')
        img(src='images/gallery-big.png', alt='gallery-big')
      .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
        .row.gallery-2-3.gallery-2-3-xs.custom-gutter.no-gutters.special-padding(style='padding-bottom: 10px;')
          .custom-pd.col-xl-6.col-lg-6.col-md-6.col-sm-6.col-6
            img(src='images/gallery-small-1.png', alt='')
          .custom-pd.col-xl-6.col-lg-6.col-md-6.col-sm-6.col-6
            img(src='images/gallery-small-2.png', alt='')
        .row.custom-gutter.no-gutters
          .custom-pd.col-xl-6.col-lg-6.col-md-6.col-sm-6.col-6
            img(src='images/gallery-small-3.png', alt='')
          .custom-pd.col-xl-6.col-lg-6.col-md-6.col-sm-6.col-6
            img(src='images/gallery-small-4.png', alt='')
    .row.d-flex.justify-content-center.pt-5.pb-3
      button.button-universal see more
