section#news.d-flex.align-items-center
  .news__container.container.d-flex.flex-column.justify-content-center
    .row.d-flex.flex-column.align-items-center
      .news__hr
      .news__title latest news
    // modal
    #ex1.modal
      div
        img(src='images/lauren-mancke-60633.png', alt='modal img')
    .slider-news-content.card-deck
      .card.content-news
        .slider-news-content-button.d-flex.justify-content-center.align-items-center
          a(href='#ex1', rel='modal:open')
            img(src='images/plus.png', alt='plus')
        img.card-img-top(src='images/lauren-mancke-60633.png', alt='Card image cap')
        .card-body
          h5.card-title See The Unmatched Beauty Of The Great. Lakes.
          p.card-text.card-text-main
            | Free directories: directories are perfect for customers that
            | are...
            | searching for a particular topic.
          .row.card-footer-custom.pt-4.d-flex.align-items-center
            .card-footer-image.pr-1
              img(src='images/isaac.png', alt='isaac')
            .card-footer-text
              .card-footer-name Isaac Dunn
              .card-footer-date 09 Feb 2017
      .card.content-news
        img.card-img-top(src='images/matthew-hamilton-202227.png', alt='Card image cap')
        .card-body
          h5.card-title Effective Advertising Pointers.
          p.card-text.card-text-main
            | Having a home based business is a wonderful asset to your
            | life...
          .row.card-footer-custom.pt-4.d-flex.align-items-center
            .card-footer-image.pr-1
              img(src='images/dominic.png', alt='dominic')
            .card-footer-text
              .card-footer-name Dominic Freeman
              .card-footer-date 24 Apr 2017
      .card.content-news
        img.card-img-top(src='images/joel-filipe-151690.png', alt='Card image cap')
        .card-body
          h5.card-title
            | Hypnotize Yourself Into The Ghost.
            | Of Christmas Future
          p.card-text.card-text-main
            | Having a home based business is a wonderful asset to your
            | life...
          .row.card-footer-custom.pt-4.d-flex.align-items-center
            .card-footer-image.pr-1
              img(src='images/dominic.png', alt='dominic')
            .card-footer-text
              .card-footer-name Alice Ward
              .card-footer-date 30 Dec 2017
      .card.content-news
        img.card-img-top(src='images/lauren-mancke-60633.png', alt='Card image cap')
        .card-body
          h5.card-title See The Unmatched Beauty Of The Great. Lakes.
          p.card-text.card-text-main
            | There are many things that are important to catalog
            | design....
          .row.card-footer-custom.pt-4.d-flex.align-items-center
            .card-footer-image.pr-3
              img(src='images/alice.png', alt='alice')
            .card-footer-text
              .card-footer-name Isaac Dunn
              .card-footer-date 09 Feb 2017
      .card.content-news
        img.card-img-top(src='images/matthew-hamilton-202227.png', alt='Card image cap')
        .card-body
          h5.card-title Effective Advertising Pointers.
          p.card-text.card-text-main
            | Having a home based business is a wonderful asset to your
            | life...
          .row.card-footer-custom.pt-4.d-flex.align-items-center
            .card-footer-image.pr-1
              img(src='images/dominic.png', alt='dominic')
            .card-footer-text
              .card-footer-name Dominic Freeman
              .card-footer-date 24 Apr 2017
