nav.menu
  ul#menu.menu__list(role='menu', tabindex='-1')
    li.menu__item(role='menuitem')
      a.menu__link(href='#about', title='', data-from='about')
        i.far.fa-circle
        span About us
    li.menu__item(role='menuitem')
      a.menu__link(href='#projects', title='', data-from='projects')
        i.far.fa-circle
        span Projects
    li.menu__item(role='menuitem')
      a.menu__link(href='#news', title='', data-from='news')
        i.far.fa-circle
        span News
    li.menu__item(role='menuitem')
      a.menu__link(href='#contacts', title='', data-from='contacts')
        i.far.fa-circle
        span Contacts