#footer {
    height: 524px;
    min-height: 524px;
    background-color: #ffffff;
    background: url("../images/bg-layer-footer.png") center center no-repeat, linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
    background-size: cover;
    .footer__container {
        height: 100%;
        max-width: 770px;
    }

    .footer__nav-link {
        color: #ffffff;
        font-family: "Gotham";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
        opacity: 1;

        &:hover {
            opacity: 0.5;
            text-decoration: none;
        }
    }

    .footer__hr {
        width: 770px;
        border-bottom: 1px solid#ffffff;
        opacity: 0.1;

        @include landscape {
            width: 600px;
        }

        @include mobile {
            width: 300px;
        }
    }

    .social-circle {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 1px solid rgba(255,255,255,0.4);

        a {
            color: #ffffff;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    .footer__copyright {
        width: 100%;
        text-align: center;
        .footer__copyright-text {
            color: #ffffff;
            font-family: "Gotham";
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
        }

        .footer__copyright--heart {
            color: #ffffff;
            font-family: "Gotham";
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
        }
    }

}
