footer#footer
  .footer__container.container.d-flex.flex-column.justify-content-center.align-items-around
    .row.mt-4.d-flex.flex-row.justify-content-between.justify-content-sm-center
      .footer__logo.col-xl-6.col-md-12.col-sm-12.d-flex.justify-content-center
        a.navbar-brand(href='#')
          img(src='images/Logo.png')
      .nav-social-container.d-flex.flex-row.justify-content-center.col-xl-4.col-md-12
        .social-fb.pr-3
          .social-circle.d-flex.justify-content-center.align-items-center
            a(href='facebook.com')
              i.fab.fa-facebook-f
        .social-tw.pr-3
          .social-circle.d-flex.justify-content-center.align-items-center
            a(href='twitter.com')
              i.fab.fa-twitter
        .social-inst
          .social-circle.d-flex.justify-content-center.align-items-center
            a(href='instagram.com')
              i.fab.fa-instagram
    .row.pt-3
      .footer__copyright.row.d-flex.justify-content-md-center
        .footer__copyright-text.col-xl-5.col-md-12
          | Copyrights © 2017 Monticello Group  
          span(style='opacity: 0.5') |
        .footer__copyright--heart.col-xl-4.col-md-12  Made with ♥ by Ga Huy
