section#hero
  .container-fluid.p-0
    .slider-content.row
      .col-xl-12.rel
        .content.first.d-flex.justify-content-center
          .cover.hero__container.d-flex.flex-column.justify-content-center.align-items-center.h100.w100
            .row.d-flex.flex-column.justify-content-around.align-items-center.w-100
              .hero__title.text-center Simple & modern
            .row.d-flex.flex-column.justify-content-around.align-items-center.w-100
              .hero__desc.text-center We make the world's beautiful every day
            .row.d-flex.justify-content-around.align-items-center
              .hero__scroll.text-center.col-xl-12
                #scroll-icon.scroll__img
                  a.anchor(href='#')
                    img(src='images/scroll-icon.png', alt='arrow down')
      .col-xl-12.rel
        .content.second.d-flex.justify-content-center
      .col-xl-12.rel
        .content.third.d-flex.justify-content-center
      .col-xl-12.rel
        .content.forth.d-flex.justify-content-center
      .col-xl-12.rel
        .content.fifth.d-flex.justify-content-center
